@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0ec4aca52.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header du site -->
    <div class="nav_container">
        <h1>Insérez le menu ici</h1>
    </div>
    <div class="view_container">
        @RenderBody()
    </div>
    <!-- Footer du site -->
    <footer>
        <div class="footer_container">
            <div>
                <a href="#">
                    <img src="~/img/logo_site_blanc.svg" />
                </a>
            </div>
            <div class="item_footer_block">
                <ul class=footer-list>
                    <li class="item-footer">Plan du site</li>
                    <li class="item-footer">Contactez-nous</li>
                    <li class="item-footer">Mentions légales</li>
                </ul>
            </div>
            <div class="social_footer_block">
                <ul class="footer-social">
                    <li> <i class="fab fa-facebook-square"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                </ul>
            </div>
        </div>
    </footer>
    @RenderSection("ScriptJS", required:false)
</body>
</html>