@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0ec4aca52.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header du site -->
    <div class="nav_container">
        <h1>Insérez le menu ici</h1>
    </div>
    <div class="view_container">
        @RenderBody()
    </div>
    <!-- Footer du site -->
    <footer>
        <div class="footer_container">
            <div>
                <a class="logo_footer_block" href="#">
                    <img class="logo_footer" src="~/img/logo_site_blanc.svg" />
                </a>
            </div>
            <div class="item_footer_block">
                <ul class=footer-list>
                    <li class="item-footer"><a href="#">Plan du site</a></li>
                    <li class="item-footer"><a href="#">Contactez-nous</a></li>
                    <li class="item-footer"><a href="#">Mentions légales</a></li>
                </ul>
            </div>
            <div class="social_footer_block">
                <ul class="footer-social">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    @RenderSection("ScriptJS", required:false)
</body>
</html>