
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<container class="container_sub_section_project container">
    <section class="crowdfunding_project">
        <h2>J'ai 3 Amours: Piano, Contrebasse, Claquettes !</h2>
        <div class="line-break-black"></div>
        <p>
            J’ai 3 Amours est un spectacle musical avec claquettes 
            qui revisite le répertoire jazz en y ajoutant quelques 
            épices essentielles à un Objet Very Non Identifiable.
            </br></br>
            Nous laissons court à notre imagination, nous malaxons, 
            étirons, façonnons, agitons les repères musicaux. 
            Ce n’est pas un spectacle de claquettes habituel.
            </br></br>
            Est-ce que l’on peut danser des claquettes sur toutes les musiques, nous direz-vous ?
            La réponse est oui ! Thelonious Monk, André Minvielle, Chick Corea, Anne
            Sylvestre, Higelin et bien d ‘autres...
            </br></br>
            <strong>C’est quoi ce spectacle ?</strong>
            </br></br>
            Un O V N I
            Traduction : un Objet Very Non Identifiable.
            </br></br>
            <strong>Oui... Mais qu’est-ce que vous voulez dire par là ?</strong>
            </br></br>
            Dans notre boutique de commerces ultra-essentiels, on vend : 
            de l’Amérique, la liberté, du sourire, une larme (« pas cher »),
            des envolées lyriques, des alambics, de l’Amour et de la folie douce.
            </br></br>
            <strong>Et sinon, vous êtes qui ?</strong>
            </br></br>
            <b>Hélène</b> : Elle sort des sentiers battus et nous emmène à l’aventure
            </br></br>
            <b>Mélanie</b> : Sa voix féline et un peu fêlée envoute. 
            Elle raffole des sonorités électro-pop de son piano rouge. 
            Ses doigts swinguent, dézinguent et dépotent mais 
            elle nous ramène toujours à la raison.
            </br></br>
            <b>Stéphanie</b> : Ça claque des 4 fers, 
            ça raisonne sous les planches ! Elle s’envole, 
            atterrit, parfois à côté du micro, parfois dans ses baskets,
            et parfois même dans ses pensées. Elle dévoile ce qu’une 
            claquettiste peut faire sous la houlette de ses deux comparses de jeu.
            </br></br>
            <strong>Quel est votre style de musique ?</strong>
            Le jazz, sous toutes les formes qui nous animent. 
            La chanson française avec ses voix mêlées, ses mots 
            et ses histoires d’amours. La musique latine parce 
            que Santiago de Cuba nous manque. Le swing bien sûr ! 
            Et quelques expériences sonores bien entendu.
        </p>
    </section>

    <!-- SECTION CONTREPARTIE - a priori fixe, à droite de la page -->

    <section id="staticcontrepartie" class="contrepartie_block">
        <h3>Choisissez votre contrepartie</h3>
        <div class="contrepartie_content">
            <div class="contrepartie_img"></div>
            <h4>25 euros : 2 places de spectacle</h4>
            <p>
                Pour % euros, la troupe vous offre 2 places pour
                son spectacle, à la date de votre choix.
            </p>
        </div>
        <div class="contrepartie_content">
            <div class="contrepartie_img"></div>
            <h4>25 euros : 2 places de spectacle</h4>
            <p>
                Pour % euros, la troupe vous offre 2 places pour
                son spectacle, à la date de votre choix.
            </p>
        </div>
    </section>
</container>