
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="container container_sub_section_objectif">
    <h2>Les objectifs du crowdfunding</h2>
    <div class="line-break-black"></div>
    <div class="collapsible_block">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam vehicula elit ut nisi iaculis sagittis a eget lectus.
            Mauris hendrerit rutrum lacus sed aliquet. Sed accumsan non velit et sodales.
            Maecenas blandit sollicitudin venenatis. Pellentesque tempus pharetra nisi,
            vitae ultricies enim laoreet vitae. Fusce tempus justo sed imperdiet luctus.
            <br />
            Pellentesque vehicula leo non ex viverra, sed vestibulum elit condimentum.
            Phasellus tincidunt sit amet sem quis suscipit. Sed auctor pulvinar leo,
            id vehicula neque. Duis ac elit quis nisl posuere viverra.
            Nunc bibendum tristique interdum. Fusce vitae tristique felis.
            Suspendisse et molestie mi.
        </p>
        <br />
        <button type="button" class="collapsible">
            <p>
                Notre objectif :
                4500 euros pour monter de toutes pièces une représentation professionnelle
            </p>
            <i class="fas fa-chevron-down " aria-hidden="true">
            </i>
        </button>
        <div class="content">
            <p>
                Lancer dans la création lumière des 3 amours <br />
                Faire un teaser pour diffuser nos 3 Amours. <br />
                Travailler 2 jours en studio d'enregistrement. <br />
                Nous produire dans un théâtre, et diffuser notre spectacle,
                avec la création de costumes et une résidence de 4 jours de travail avec un metteur en scène. </br>
            </p>
        </div>
    </div>

    <button type="button" class="collapsible">
        <p>Si l'objectif est dépassé de 1000 euros !</p>
        <i class="fas fa-chevron-down " aria-hidden="true">
        </i>
    </button>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <button type="button" class="collapsible">
        <p>Si votre générosité nous fait dépasser l'objectif de 2000 euros !</p>
        <i class="fas fa-chevron-down " aria-hidden="true"></i>
    </button>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <button type="button" class="collapsible">
        <p>Et après ?</p>
        <i class="fas fa-chevron-down " aria-hidden="true"></i>
    </button>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</section>


