
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="contributeurs">
    <h2>Ils ont participé au crowdfunding</h2>
    <div class="line-break-ssmenu"></div></br>
    <p>//XX nombre de contributeurs// mécènes ont déjà apporté leur soutien au projet de //XXX nom de l'artiste// </p></br>
    <div class="list-contrib">
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div></br>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div></br>
            <i><p class="comment">Bravo, continuez comme ça !!</p></i>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div></br>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div></br>
            <i><p class="comment">Bravo, continuez comme ça !!</p></i>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div></br>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div></br>
            <i><p class="comment">Bravo, continuez comme ça !!</p></i>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div></br>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div></br>
            <i><p class="comment">Bravo, continuez comme ça !!</p></i>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div></br>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div></br>
            <i><p class="comment">Bravo, continuez comme ça !!</p></i>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div></br>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div></br>
            <i><p class="comment">Bravo, continuez comme ça !!</p></i>
        </div>
    </div>
</section>
