
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="container container_sub_section_objectif">
    <h2>Les objectifs du crowdfunding</h2>
    <div class="line-break-black"></div>
    <div class="collapsible_block">
        <p>
            Cliquez sur les encadrés ci-après pour découvrir comment vos dons seront utilisés.
        </p>
        <br />
        <button type="button" class="collapsible">
            <p><strong>
                 Notre objectif :
                 4500 euros pour monter de toutes pièces une représentation professionnelle</strong></p>
            <i class="fas fa-chevron-down " aria-hidden="true">
            </i>
        </button>
        <div class="content">
            <p>Lancer dans la création lumière des 3 amours.</p>
            <p>Faire un teaser pour diffuser nos 3 Amours.</p>
            <p>Travailler 2 jours en studio d'enregistrement.</p>
            <p>Nous produire dans un théâtre, et diffuser notre spectacle, avec la création de costumes et une résidence de 4 jours de travail avec un metteur en scène.</p>
        </div>
    </div>

    <button type="button" class="collapsible">
        <p><strong>Si l'objectif est dépassé de 1000 euros !</strong></p>
        <i class="fas fa-chevron-down " aria-hidden="true">
        </i>
    </button>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <button type="button" class="collapsible">
        <p><strong>Si votre générosité nous fait dépasser l'objectif de 2000 euros !</strong></p>
        <i class="fas fa-chevron-down " aria-hidden="true"></i>
    </button>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <button type="button" class="collapsible">
        <p><strong>Et après ?</strong></p>
        <i class="fas fa-chevron-down " aria-hidden="true"></i>
    </button>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</section>


