
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="contributeurs container">
    <h2>Ils ont participé au crowdfunding</h2>
    <div class="line-break-black"></div>
    <p>Ils ont déjà apporté leur soutien au projet "@Model.NameCrowdfunding" de @Model.Artist.StageName !</p>
    <div class="list-contrib">
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div>
            <p class="comment">Bravo, continuez comme ça !!</p>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div>
            <p class="comment">Bravo, continuez comme ça !!</p>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div>
            <p class="comment">Bravo, continuez comme ça !!</p>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div>
            <p class="comment">Bravo, continuez comme ça !!</p>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div>
            <p class="comment">Bravo, continuez comme ça !!</p>
        </div>
        <div class="contrib">
            <p class="nom">Nom</p>
            <p class="prenom">Prénom</p>
            <div class="line-break-contrib"></div>
            <p class="montant">Montant</p>
            <p class="date">Date du don</p>
            <div class="line-break-contrib"></div>
            <p class="comment">Bravo, continuez comme ça !!</p>
        </div>
    </div>
</section>
