
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<container class="container_sub_section_project container">
    <section class="event_infos">
        <h2>@Model.Designation</h2>
        <div class="line-break-black"></div>
        <p>
            La rythmicienne Roxane Butterfly nous propose
            une soirée d'improvisation tap dance
            en complicité avec le guitariste Lior Krief.
            </br></br>
            <strong>Roxane Butterfly</strong> est considérée
            comme une icône du tap dance underground des années 90 à New York.
            Elle a joué avec de nombreux jazzmen dont
            Stanley Jordan, Ron Carter, Benny Powell, Aldo Romano
            et excelle dans l'art d'improviser sur des terrains musicaux
            variés et distincts de la tradition.
            Elle incorpore rythmes flamenco, africains, indiens à son jazz avec virtuosité et simplicité.
            </br></br>
            Référence incontournable des tablas, <strong>Prabhu Édouard</strong>
            est un complice de longue date de Roxane Butterfly.
            Véritable innovateur, c'est un ambassadeur de la culture musicale indienne.
            Il se produit mondialement sur la scène jazz et world.
            </br></br>
            <strong>Lior Krief</strong> est le fils du guitariste Serge Krief
            et s'inscrit dans la grande tradition du Swing Manouche.
            Il se produit internationalement en duo avec son frère Ezekiel Krief.
            </br></br>
            <strong>GRATUIT !</strong> Alors venez manger aussi!
            </br></br>

            <h3 class="label_content">Catégorie : @Model.Category.CategoryName</h3>
            <h3 class="label_content">Type d'événement : @Model.Type</h3>
            </br></br>
            </br></br>
            </br></br>
        </p>
    </section>
</container>