
    @{
Layout = "_Layout";
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
       
        <ul>
            <li>Vos modifications ont été prises en compte</li>

        </ul>
        <h1 align="left">@Html.ActionLink("Retourner à l'accueil", "Index", "Home")</h1>
    </body>
    </html>