@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProjetFostHer.ViewModels.UserViewModel
@{
    Layout = "_Layout";
}
@{
    <h3>Votre compte à bien été créer ! Bienvenue @Model.User.Name</h3>

}
