@model ProjetFostHer.ViewModels.HomeViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
    <!-- Section Bienvenue FOSTHER -->
    <section class=" container bienvenue">
        <div class="bienvenue-container">
            <div class="bienvenue_block_text">
                <div class="bienvenue-title">
                    <h1>Bienvenue sur <br> FostHer!</h1>
                </div>
                <div class="line-break">
                </div>

                <div class="bienvenue-text">
                    <h4 class="sub_title"><strong class="bold_text">La plateforme dédiée aux femmes artistes!</strong></h4>
                    <p>
                        La plateforme <strong class="bold_text">FOST/HER</strong> (contraction entre “foster”, qui signifie
                        “encourager le développement de quelque chose de bon”, et “her” pronom féminin), souhaite accompagner
                        les associations françaisesà but non-lucratif qui aident les femmes artistes à faire connaître
                        leur travail et réseauter en leur fournissant certains des outils essentiels à
                        l’épanouissement de leur carrière.
                    </p>
                </div>
            </div>

            <aside class="bienvenue-block_image">
                <div class="image-femme-bureau">
                    <img src="~/img/illustration_accueil.svg" />
                </div>
            </aside>
        </div>
        <div class="ancre_down">
            <i class="fas fa-chevron-down ">
                <a href="#"></a>
            </i>
        </div>
    </section>

    <!-- HOME LES CROWDFUNDINGS -->
    <section class="container crowdfunding_accueil_container">
        <div class="crowdfunding_accueil_title">
            <h2>Les crowdfundings par thème</h2>
        </div>
        <div class="crowdfunding_accueil_gallery">
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/peinture_mini.png"
                         alt="découvrir les crowdfunding dans l'univers de la peinture" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Peinture</h3>
                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/movie_mini.png"
                         alt="découvrir les crowdfunding dans l'univers du cinema" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Cinéma</h3>

                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/sculpt_mini.png"
                         alt="découvrir les crowdfunding dans l'univers de la sculpture" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Sculpture</h3>
                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/streetart_mini.png"
                         alt="découvrir les crowdfunding dans l'univers du street art" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Street Art</h3>
                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/music_mini.png"
                         alt="découvrir les crowdfunding dans l'univers de la musique" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Musique</h3>
                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/spectacle_mini.png"
                         alt="découvrir les crowdfunding dans l'univers du spectacle" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Danse</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- HOME LES ASSOCIATIONS -->
    <section class="container container_home_association">
        <div class="container-items-associations-home">
            <div class="association-home-block-left">
                <div class="gallery-title-associations-home-left">
                    <h2>A la une</h2>
                </div>
                <article class="associations-femme-block1-left">
                    <div class="associations-femme-block1-left-image">
                        <img class="img_alaune"
                             src="~/img/visuel_association.png" />
                        <div class="button_orange block_button_alaune">
                            <a>Découvrir</a>
                        </div>
                    </div>

                    <div class="associations-femme-block1-left-title">
                        <h4>327 Membres</h4>
                        <h3>Du côté des femmes</h3>
                        <p>
                            Nous voulons aider les plus fragiles, avant tout la Femme et l’Enfant.
                            Nous recherchons l’entente et la solidarité entre nous, femmes d’identités culturelles différentes.
                        </p>
                    </div>
                </article>
            </div>
            <div class="association-home-block-right">

                <div class="gallery-title-associations-home-right">
                    <h2>Notre sélection</h2>
                </div>
                <article class="association-block1-right">
                    <div class="image-associations-home">
                        <img class="img_selection"
                             src="~/img/visuel_association.png" />
                    </div>

                    <div class="nom-associations-home">
                        <h3> Femmes Debout</h3>
                        <p>
                            Depuis sa création, Femmes Debout apporte une aide concrète aux populations les plus fragiles,
                            en particulier les femmes.
                        </p>
                        <h4>498 Membres</h4>
                    </div>
                </article>
                <article class="association-block2-right">
                    <div class="image-associations-home">
                        <img class="img_selection"
                             src="~/img/visuel_association.png" />
                    </div>

                    <div class="nom-associations-home">
                        <h3>Osez le féminisme</h3>
                        <p>
                            Grâce à sa mixité tant sociale que culturelle, l’association vise à développer la diversité
                            culturelle...
                        </p>
                        <h4>263 Membres</h4>
                    </div>
                </article>

                <article class="association-block3-right">
                    <div class="image-associations-home-">
                        <img class="img_selection"
                             src="~/img/visuel_association.png" />
                    </div>

                    <div class="nom-associations-home">
                        <h3>Voix de femmes</h3>
                        <p>
                            L’association fait face à de nouvelles menaces que sont le repli identitaire et la recrudescence
                            des préjugés.
                        </p>
                        <h4>502 Membres</h4>
                    </div>

                </article>
                <div class="association-home-buttons-links">

                    <div class="slide_block_home_association">
                        <a class="icon-decouvrir-associations fas fa-chevron-left"></a>
                        <a class="icon-decouvrir-associations fas fa-chevron-right"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="button_orange">
            <a class="button_orange">Découvrir toutes les associations</a>
        </div>
    </section>



    <!-- HOME LES ARTISTES -->
    <section class="container artist_accueil_container">
        <div class="artiste_gallery_accueil">
            <h2>Les artistes du moment</h2>
        </div>
        <div class="gallery-artistes-home">
            <article>
                <div class="artist_accueil_block">
                    <img class="artist_accueil_img"
                         src="~/img/artiste_1.png"
                         alt="découvrir l'univers de cette artiste" />
                </div>
                <div class="artist_accueil_title">
                    <h3>Camille Gareau</h3>
                </div>
            </article>
            <article>
                <div class="artist_accueil_block">
                    <img class="artist_accueil_img"
                         src="~/img/artiste_2.png"
                         alt="découvrir l'univers de cette artiste" />
                </div>

                <div class="artist_accueil_title">
                    <h3>Brigitte Lemieux</h3>
                </div>
            </article>

            <article>
                <div class="image-artistes-home">
                    <img class="artist_accueil_img"
                         src="~/img/artiste_3.png"
                         alt="découvrir l'univers de cette artiste" />
                </div>

                <div class="artist_accueil_title">
                    <h3>Delphine Chabot</h3>
                </div>
            </article>
            <article>
                <div class="image-artistes-home">
                    <img class="artist_accueil_img"
                         src="~/img/artiste_4.png"
                         alt="découvrir l'univers de cette artiste" />
                </div>

                <div class="artist_accueil_title">
                    <h3>Renée Marseau</h3>
                </div>
            </article>
        </div>
        <div class="artist_link_page">
            <a class="link_button">Découvrir toutes les artistes</a>
            <i class="fas fa-chevron-right icon_artist_link"></i>
        </div>
    </section>

    <!-- HOME LES EVENEMENTS -->
    <section class="container evenements-container-items-home">

        <div class="evenements-gallery-title-home">
            <h2>Ça se passe en ce moment sur Fosther !</h2>
        </div>
        <div class="evenements-gallery-home">
            <article class="evenement-block-vertical">
                <div class="evenement-image-home">
                    <img class="evenement_img"
                         src="~/img/visuel_evenement.png"
                    alt=""/>
                    <div class="button_orange button_event_block">
                        <a href="" >Participer</a>
                    </div>
                </div>

                <div class="evenement-nom-home">
                    <h3>Art Paper Rosa</h3>
                    <p> Nov 18, 2021</p>
                    <p>
                        L’artiste française Rosa Loy présentera douze
                        œuvres typiques de son style poétique et onirique. Ses compositions mettent en scène des
                        personnages exclusivement féminins...
                    </p>
                </div>
            </article>

            <article class="evenement-block-vertical">
                <div class="evenement-image-home">
                    <img class="evenement_img"
                         src="~/img/visuel_evenement.png"
                         alt="" />
                    <div class="button_orange button_event_block">
                        <a href="" >Participer</a>
                    </div>
                </div>

                <div class="evenement-nom-home">
                    <h3>Artcurial</h3>
                    <p>Oct 24, 2021</p>
                    <p>
                        Artcurial offre un vaste panorama du dessin, en privilégiant les œuvres contemporaines et
                        celles réalisées sur papier ou carton, et vise à revaloriser l’art essentiel du dessin...
                    </p>
                </div>
            </article>

            <article class="evenement-block-vertical">
                <div class="evenement-image-home">
                    <img class="evenement_img"
                         src="~/img/visuel_evenement.png"
                         alt="" />
                    <div class="button_orange button_event_block">
                        <a href="" >Participer</a>
                    </div>
                </div>

                <div class="evenement-nom-home">
                    <h3> Marseau</h3>
                    <p> Sept 29, 2021</p>
                    <p>
                        La collaboration entre la peintre DanHôo et la musicienne Stephanie Grangier porte plus loin les
                        inspirations croisées entre peinture et musique, fréquentes dans l’histoire de l’art...
                    </p>
                </div>
            </article>
        </div>
        <div class="button_orange button_block_link_event">
            <a class="">Découvrir tout le calendrier des évènements</a>
        </div>
    </section>

    <!-- HOME A PROPOS -->
    <section class="about_accueil_container container">
        <div class="about_accueil_title">
            <h2>C'est quoi <br> Fosther?</h2>
        </div>
        <div class="about_line-break">
        </div>
        <div class="about_accueil_block">
            <div class="about_accueil_text">
                <h3> Mettre en valeur les femmes artistes!</h3>
                <p>
                    En effet, les femmes artistes souffrent encore au XXIe siècle en France d’un manque de visibilité et
                    de reconnaissance sur leur travail. Selon un rapport du Haut Conseil à l’Egalité paru en 2018, les
                    femmes artistes françaises gagnent en moyenne 18% de moins que leurs homologues masculins. Quel que soit
                    leur art, les femmes sont moins nombreuses, moins payées, moins aidées, moins programmées, moins récompensées
                    et moins promues.<br>
                </p>

                <p>
                    Face à ce constat, les médias numériques constituent plus que jamais pour les femmes des leviers essentiels pour gagner en visibilité et parvenir à vivre de leur art, en leur
                    permettant d’accéder à de nouvelles opportunités ou encore de générer davantage de rencontres avec leurs
                    différentes parties-prenantes (grand public, partenaires financiers, logistiques ou créatifs...). <br>
                </p>
                <p>
                    Avec le projet de création de la plateforme FOST/HER, la plataforme souhaite accompagner les associations françaises à but non-lucratif qui aident les femmes artistes à
                    faire connaître leur travail et réseauter en leur fournissant certains des outils essentiels à
                    l’épanouissement de leur carrière.
                </p>
                <p>
                    Ce projet vise accompagné respectivement des femmes cinéastes, écrivaines, chorégraphes,
                    compositrices et illustratrices, à qui l’usage de la plateforme sera destiné. La plateforme FOST/HER
                    a vocation à encourager le rayonnement de l’art créé par les artistes femmes.
                </p>
            </div>
            <div class="about_accueil_block_img">
                <div class="about_accueil_image">
                    <img src="~/img/visuel_fosther.svg" />
                </div>
            </div>
        </div>
    </section>
</body>
</html>

