@model ProjetFostHer.Models.Artist
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexArtist</title>
</head>
<body>
    <h1>Artistes</h1>
    <ul>
        <li>@Html.ActionLink("CreateArtist", "CreateArtist")</li>
    </ul>
</body>
</html>
