@model ProjetFostHer.Models.Artist
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
    <h1>Artistes</h1>
    <ul>
        <li>@Html.ActionLink("Créer une artiste", "CreateArtist", "Artist")</li>
        <li>@Html.ActionLink("Supprimer une artiste", "DeleteArtist", "Artist")</li>
        <li>@Html.ActionLink("Modifier une artiste", "EditArtist", "Artist")</li>
    </ul>
</body>
</html>
