/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #333333;
    padding: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 15px;
}

/* CSS header */
.nav_container {
    z-index: 10;
    position: absolute;
    width: inherit;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.header_block {
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.right_item {
    display: flex;
    align-items: center;
}

.logo_block {
    margin-left: 15px;
}

.logo_header {
    height:50px;
    margin: 7px;
}

.site_header {
    background-color: #E35931;
    padding: 0;
}

.site-navigation {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.header_list{
    margin-left: 10px;
}

.header_list li {
    display: inline-block;
}

.header_list li a {
    color: #ffffff;
    font-family: Oswald;
    font-size: 22px;
}

.search_bar {
    padding: 13.5px 30px;
    border-radius: 100px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    text-align: left;
    font-size: 15px;
    border: 2px solid #ffffff;
    margin-right: 20px;
    font-size: 14px;
    width: 460px;
}

.icon_search{
    position: relative;
    left: -12%;
    color: #E35931;
}

input.search_bar:focus-visible {
    outline-color: rgb(0 0 0 / 0%);
    outline-style: none;
}

.block_button {
    display:flex;
    justify-content: end;
    margin-right: 35px;
    align-items: center;
}

.user_button{
    font-family: Oswald semibold;
    font-size: 22px;
    color:#ffffff;
    text-align:center;
    margin: 0 25px 0 0;
}

button_white {
    border: none;
}

button_white:hover {
    cursor: pointer;
}

.button_white a {
    border: 2px solid #ffffff;
    border-radius: 100px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    display: inline-block;
    font-family: 'Open sans semibold', sans-serif;
    font-size: 14px;
    line-height: normal;
    padding: 13.5px 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    color: #E35931;
    background-color: #ffffff;
}

    .button_white a:hover {
        background-color: #E35931;
        color: #ffffff;
        transition-duration: 1s;
    }

/*Css page accueil*/
.bienvenue {
    z-index: 1;
    margin-top: -82px;
}

.bienvenue-container {
    background-image: url('../img/background_accueil.svg');
    padding: 20px;
    position: relative;
    height: 1266px;
}

.bienvenue {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.bienvenue-title {
    margin-top: 5cm;
    margin-left: 4cm;
    font-size: 30pt;
}

.line-break {
    margin-left: 4cm;
    height: 6px;
    width: 6cm;
    background: white;
}

.bienvenue-text {
    margin-top: 2cm;
    margin-left: 4cm;
    text-align: left;
    font-size: 18pt;
    position: absolue;
    top: 10%;
    left: 5%;
}

.bienvenue-image {
    display: grid;
    position: absolute;
    top: 17%;
    right: 18%;
}

/*Css footer*/
.footer_container {
    background-image: url('../img/background_footer.svg');
    position: relative;
    height: 621px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 50px;
}
.logo_footer_block:hover {
    color: #E5D8EB;
}

.logo_footer {
    height: 315px;
}

.footer-list {
    text-align: center;
}

.footer-list li{
    color: #ffffff;
    font-size: 25px;
    font-family: oswald regular;
    list-style-type: none;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.50);
}
.footer-list a {
    color: #ffffff;
    text-decoration: none;
}
.footer-list a:hover {
        color: #E5D8EB;
}

.social_footer_block {
    margin-bottom: 12px;
}

.footer-social {
    font-size: 60px;
    color: #ffffff;
    display: inline-flex;
    list-style-type: none;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.50);
}
.footer-social a i {
    padding:15px;
    color: #ffffff;
    font-size: 60px;
}

.footer-social a i:hover {
    color: #E5D8EB;
}

